<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martyawesome.smartyalarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.martyawesome.smartyalarm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martyawesome.smartyalarm.AlarmsActivity"
            android:label="@string/title_activity_alarms"
            android:parentActivityName="com.martyawesome.smartyalarm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martyawesome.smartyalarm.MainActivity" />
        </activity>
        <activity
            android:name="com.martyawesome.smartyalarm.AlarmDetailsActivity"
            android:label="@string/title_activity_alarm_details"
            android:parentActivityName="com.martyawesome.smartyalarm.AlarmsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martyawesome.smartyalarm.AlarmsActivity" />
        </activity>
        
    </application>

</manifest>